#landingPhotos a img, a:active{
outline:none;
}

.active {
    font-family:'Helvetica', sans-serif;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    line-height: 1em;
}

.results {
    font-family:'Roboto', sans-serif;
    padding-left:1em;
    padding-bottom:2em;
    font-size: 1em;
}
.headline{
font-family:"Roboto", sans-serif;
font-size:2em;
}
.headline:hover{
opacity: 0.5;
animation: 2s ease-in-out;
}
.longQuestion{
background-color:#b2ecff80;
padding: 0.7em;
font-size: medium;
text-align: left;
border-radius: 4px;
}
.sender{
font-size: small;
padding: 0.1em;
margin:0;
}
.answer{
	padding: 0.7em;
	font-size: medium;
	background:	rgb(175, 250, 175);
	border-radius: 4px;
}
.sig{
	padding: 0.1em;
	margin:0;
	text-align: right;
	font-size: small;
	padding-bottom:0;
}
/* chevrons */
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.slider {
	margin: auto;
	width: 500px; /* Update to your slider width */
	height: 450px;
	position: relative;
	overflow: hidden;
  }
  
  .slider li {
	display: none;
	position: absolute; 
	top: 0; 
	left: 0; 
  }
