.active {
    font-family:'Helvetica', sans-serif;
    font-size: 1.1em;
    color: rgba(102, 102, 105, 0.75);
    text-decoration: none;
    line-height: 1em;
}

.results {
    font-family:'Athelas', serif;
    padding-left:1em;
    padding-bottom:2em;
    font-size: 1em;
}